<div class="main_data1">
    <div class="holder1">
        <app-admin-verifications-list (loadRequest)="previewIt($event)"></app-admin-verifications-list>
    </div>
    <div class="holder2" *ngIf="requestToLoad.id!=='default'">
        <app-admin-verifications-preview [data]="requestToLoad"></app-admin-verifications-preview>
    </div>
    <div class="holder3">
            <canvas baseChart 
            style="width: 3em; height: 3em; padding-top: 5vh;"
            [data]="pieChartData" 
            [labels]="pieChartLabels"
            [colors]="pieChartColors"
            [chartType]="pieChartType" 
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="holder4">
        <div *ngIf="requestToLoad.id!=='default' && requestToLoad.type=='approve';else othercontent">
            <div class="sub_grid1">
                <div class="sub_holder1">
                    <i class="fa fa-check"></i>
                    <!-- <button>Create Template</button> -->
                </div>
                <div class="sub_holder2">
                    <i class="fa fa-times"></i>
                    <!-- <button class="btn">Load Template</button> -->
                </div>
                <div class="sub_holder3">
                    <i class="fa fa-eye"></i>
                </div>
                <!-- <div class="sub_holder3">
                <button class="btn">Find Form</button>
            </div>
            <div class="sub_holder4">
                <button class="btn">Reject Request</button>
            </div> -->
            </div>
        </div>
        <ng-template #othercontent>
            <div *ngIf="requestToLoad.id!=='default' && requestToLoad.type=='assign'">
                <div class="sub_grid1">
                    <div class="sub_holder1">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="sub_holder2">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="sub_holder3">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>