<div class="issue_grid">
    <div class="heading">
        <div class="bolder">Issue Name</div>
        <div>Issue Description - Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    </div>
    <div class="replies">
        <div class="u_pic"><i class="fa fa-user"></i></div>
        <div class="uname">
            Username, Role, Division                                               
        </div>
        <div class="timestamp">
                Posted on 10 Jan, 2018
        </div> 
        <div class="answer">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        </div>
    </div>
    <div class="replies">
            <div class="u_pic"><i class="fa fa-user"></i></div>
            <div class="uname">
                Username, Role, Division                                               
            </div>
            <div class="timestamp">
                    Posted on 10 Jan, 2018
            </div> 
            <div class="answer">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </div>
    </div>
    <div class="replies">
            <div class="u_pic"><i class="fa fa-user"></i></div>
            <div class="uname">
                Username, Role, Division                                               
            </div>
            <div class="timestamp">
                    Posted on 10 Jan, 2018
            </div> 
            <div class="answer">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </div>
    </div>
</div>
