<div [ngClass]="'theme-name'">
    <!-- <div class="lang">
        <div class="fonts">
            <div>
                <i class="fa fa-plus" style="font-size:12px;"></i>
            </div>
            <div>
                <i class="fa fa-minus" style="font-size:12px;"></i>
            </div>
            <div>
                <i class="fa fa-font" style="font-size:12px;"></i>
            </div>
            <div>Hindi</div>
        </div>
    </div> -->
    <div class="background_blue color"></div>
    <div class="lower_div"></div>
    <!-- <router-outlet></router-outlet>  -->
    <app-admin-view-forms></app-admin-view-forms>  
</div>
