<!--<h1> Testing CSS Grid </h1>
    <div class="container">
      <div class="content">
        A
      </div>
      <div class="content">
        B
      </div>
    </div>-->

<h1>Auto-placement</h1>
<div class="grid autoFlowRow">
    <div class="rowauto-column1">row 1 x column 1</div>
    <div class="rowauto-column2">row 1 x column 2</div>
    <div class="rowauto-column3">row 1 x column 3</div>
    <div class="rowauto-column3">row 2 x column 3</div>
    <div class="rowauto-column1span2">row 2 x column 1-2</div>
    <div class="rowauto-column1">row 3 x column 1</div>
    <div class="rowauto-column2span2">row 3 x column 2-3</div>
    <div class="rowauto-column1span3">row 4 x column 1-3</div>
    <div>row 5 x column 1</div>
    <div>row 5 x column 2</div>
    <div>row 5 x column 3</div>
</div>

<br>

<div class="grid autoFlowRow">
    <div class="row1-column1">row 1 x column 1</div>
    <div class="row1span2-columnauto">row 1-2 x column 2</div>
    <div class="row1-column3">row 1 x column 3</div>
    <div class="row2span2-columnauto">row 2-3 x column 1</div>
    <div>row 2 x column 3</div>
    <div>row 3 x column 2</div>
    <div>row 3 x column 3</div>
</div>

<br>

<div class="grid autoFlowColumn">
    <div class="row1-columnauto">row 1 x column 1</div>
    <div class="row2-columnauto">row 2 x column 1</div>
    <div class="row3-columnauto">row 3 x column 1</div>
    <div class="row3-columnauto">row 3 x column 2</div>
    <div class="row1span2-columnauto">row 1-2 x column 2</div>
    <div class="row1-columnauto">row 1 x column 3</div>
    <div class="row2span2-columnauto">row 2-3 x column 3</div>
    <div class="row1span3-columnauto">row 1-3 x column 4</div>
    <div>row 1 x column 5</div>
    <div>row 2 x column 5</div>
    <div>row 3 x column 5</div>
</div>

<br>

<div class="grid autoFlowColumn">
    <div class="row1-column1">row 1 x column 1</div>
    <div class="rowauto-column1span2">row 2 x column 1-2</div>
    <div class="row3-column1">row 3 x column 1</div>
    <div class="rowauto-column2span2">row 1 x column 2-3</div>
    <div>row 3 x column 2</div>
    <div>row 2 x column 3</div>
    <div>row 3 x column 3</div>
</div>