<nav class="container">
  <div class="dashboard">
      <a href="#" class="navlinks">
          <i class="fa fa-dashboard">&nbsp;</i>Dashboard</a>
  </div>
  <div class="forms">
      <a href="#" class="navlinks right">
          <i class="fa fa-server">&nbsp;</i>Forms</a>
  </div>
  <div class="view_repo">
      <a href="#" class="navlinks right">
          <i class="fa fa-eye">&nbsp;</i>View Repository</a>
  </div>
  <div class="profile">
      <a href="#" class="navlinks right">
          <i class="fa fa-user">&nbsp;</i>Profile</a>
  </div>
</nav>
<!-- <app-admin-tracking></app-admin-tracking> -->
<!-- <app-admin-view-forms></app-admin-view-forms> -->
<app-admin-view-repository></app-admin-view-repository>
<!-- <app-admin-dashboard></app-admin-dashboard>         -->
<!-- <router-outlet></router-outlet> -->