.elementHolder{
    display:grid;
    grid-template-columns: 94% 3% 3%;
    grid-template-rows:100%;
    height:100%;
    border:0.5px solid rgb(223, 215, 202);
    border-radius:5px;
    font-size: 16px;
}