<div class="filter_grid">
        <div class="status">
                DeadLine Status :
        </div>
        <button class="btn btn-outline-danger departmenta" (click)="findSpecific(1)">
                <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <span class="value">Beyond the deadline</span>
        </button>
        <button class="btn btn-outline-primary departmentb" (click)="findSpecific(2)">
                <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <span class="value">Within a week</span>
        </button>
        <button class="btn btn-outline-success departmentc" (click)="findSpecific(3)">
                <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <span class="value">Beyond a week</span>
        </button>
        <button class="btn btn-outline-warning departmentd" (click)="findSpecific(0)">
                <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                <span class="value">Clear selection</span>
        </button>
</div>
<div class="wrapper">
        <div *ngFor="let form of getFormList();">
                <app-admin-view-box [form]="form" [cl]="'lb'+(form.deadline).toString()"></app-admin-view-box>
        </div>
</div>