<!-- <div class="wrapper">
  <div class="overlay">
      <div class="form_no  grey">
          <span class="form_num  title ">FORM NO</span>
          <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one blue"><span><i class="fa fa-line-chart fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">TRACKING</span></div>
      <div class="two blue"><span><i class="fa fa-file-text fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">VIEW</span></div>
      <div class="three blue"><span><i class="fa fa-list fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">PREVIEW</span></div>
      <div class="four blue"><span><i class="fa fa-exclamation fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">ISSUES</span></div>
  </div>
  <div class="overlay">
      <div class="form_no grey">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one inner_grid_dark"></div>
      <div class="two inner_grid_dark"></div>
      <div class="three inner_grid_dark"></div>
      <div class="four inner_grid_dark"></div>
  </div>
  <div class="overlay">
      <div class="form_no grey">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one blue"><span><i class="fa fa-line-chart fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">TRACKING</span></div>
      <div class="two blue"><span><i class="fa fa-file-text fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">VIEW</span></div>
      <div class="three blue"><span><i class="fa fa-list fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">PREVIEW</span></div>
      <div class="four blue"><span><i class="fa fa-exclamation fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">ISSUES</span></div>
  </div>
  <div class="overlay">
      <div class="form_no grey">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one blue"><span><i class="fa fa-line-chart fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">TRACKING</span></div>
      <div class="two blue"><span><i class="fa fa-file-text fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">VIEW</span></div>
      <div class="three blue"><span><i class="fa fa-list fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">PREVIEW</span></div>
      <div class="four blue"><span><i class="fa fa-exclamation fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">ISSUES</span></div>
  </div>
  <div class="overlay">
      <div class="form_no grey">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one inner_grid_dark">
      </div>
      <div class="two inner_grid_dark"></div>
      <div class="three inner_grid_dark"></div>
      <div class="four inner_grid_dark"></div>
  </div>
  <div class="overlay">
      <div class="form_no grey">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one blue"><span><i class="fa fa-line-chart fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">TRACKING</span></div>
      <div class="two blue"><span><i class="fa fa-file-text fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">VIEW</span></div>
      <div class="three blue"><span><i class="fa fa-list fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">PREVIEW</span></div>
      <div class="four blue"><span><i class="fa fa-exclamation fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">ISSUES</span></div>
  </div>
  <div class="overlay">
      <div class="form_no grey">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one blue"><span><i class="fa fa-line-chart fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">TRACKING</span></div>
      <div class="two blue"><span><i class="fa fa-file-text fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">VIEW</span></div>
      <div class="three blue"><span><i class="fa fa-list fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">PREVIEW</span></div>
      <div class="four blue"><span><i class="fa fa-exclamation fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">ISSUES</span></div>
  </div>
  <div class="overlay">
      <div class="form_no grey ">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one blue"><span><i class="fa fa-line-chart fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">TRACKING</span></div>
      <div class="two blue"><span><i class="fa fa-file-text fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">VIEW</span></div>
      <div class="three blue"><span><i class="fa fa-list fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">PREVIEW</span></div>
      <div class="four blue"><span><i class="fa fa-exclamation fa_dark" aria-hidden="true"></i></span><br><span class="form_num  form_links">ISSUES</span></div>
  </div>
  <div class="overlay">
      <div class="form_no grey">
              <span class="form_num  title ">FORM NO</span>
              <span class="form_num value">12345</span>
      </div>
      <div class="form2 grey">
              <span class="form_num  title ">TITLE</span><br>
              <span class="form_num value">Ministry of HRD</span>
      </div>
      <div class="one inner_grid_dark"></div>
      <div class="two inner_grid_dark"></div>
      <div class="three inner_grid_dark"></div>
      <div class="four inner_grid_dark"></div>
  </div>
</div>
<footer class="button_grid">
  <input type="text" value="SEARCH" class="btn-1 btn" />
</footer> -->
<app-admin-view-box></app-admin-view-box>