.elementHolder{
    display:grid;
    grid-template-columns: 94% 3% 3%;
    grid-template-rows:10% 10% 80%;
    height:100%;
    border:0.5px solid rgb(223, 215, 202);
    border-radius:5px;
    font-family:'fira sans';
    font-size: 16px;
}

.icon1{
    grid-row:1;
    grid-column:2;
    font-size:8px;
    justify-content:center;
    display:flex;
    align-items:center;
    color:#D3D3D3;

}

.icon1:hover{
    color:#2196f3;
}
.icon2:hover{
    color:#ff4c4c;
}

.material-icons{
    font-size:20px;

}
.icon2{
    grid-row:1;
    grid-column:3;
    font-size:16px;
    height:100%;
    width:100%;
    justify-content:center;
    display:flex;
    align-items:center;
    color:#D3D3D3;

    /* background-color: #ff4c4c;
    color:white; */
}

.label1{
    display:flex;
    width:80%;
    height:95%;
    grid-column:1/3;
   grid-row:1;
    align-items:center;
    justify-self: start;
    font-family: 'fira sans';
    font-weight:bold;
    padding-left: 1%;
    font-size:20px;
}
.date{
    grid-row:3;
     grid-column:1/4;
     width:95%;
     display: flex;
     align-items:center;
     justify-self: center;
     /* height:150px; */
     margin-bottom: 10px;
     border-radius:5px;
     /* border:0.5px solid rgb(223, 215, 202); */
     /* background-color:#f7f7f7; */

}

.on_transition_label{
    grid-row:1;
    grid-column:1;
    display: flex;
    align-items:center;
    margin-left: 1%;
    font-family: 'fira sans';
    font-size: 20px;
    font-weight:bold;
 }

 .inner_grid{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 85%;
    background-color:#f7f7f7;
    padding:10px;
    border:0.5px solid rgb(223, 215, 202);
    border-radius:5px;
    font-size:17px;
    /* height:120px; */
    /* justify-content:center; */
    grid-row-gap:10px;

}

input{
    width:100%;
    height:100%;
    border-radius:5px;
    border:0.5px solid rgb(223, 215, 202);
    padding:5px;
    display:flex;
    align-self:center;
}

.row_inp_label{
    /* grid-row:1; */
    grid-column:1;
    display:flex;
    /* width:100%; */
    justify-self: end;
    /* margin-left:5%; */

}

.row_inp_field{
    /* grid-row:1; */
    grid-column:2;
    display:flex;
    width:100%;
    /* justify-content: center; */
    /* margin-left:5%; */

}
 
.close_1{
    /* grid-row:3; */
    grid-column:1/4;
    justify-self:center;
    /* padding-left:10%; */
}

.mat-raised-button{
    line-height:20px;
    font-family: 'fira sans';
    padding:3px;
}

