<div [draggable]="draggableFlag" class="elementHolder">
  <label [innerHTML]="label"></label>
  <br />
  <input [formControl]="valueField" [required]="required" [type]="subtype" [class]="class" 
    [placeholder]="placeholder" />
  <br />
  <form [formGroup]="myForm" class="hiddenfields" (ngSubmit)="updateValues(myForm)">
    <label>Required: </label>
    <input formControlName="required" type="checkbox" />
    <label *ngIf="subtype === 'text' || subtype === 'number'">Placeholder: </label>
    <input *ngIf="subtype === 'text' || subtype === 'number'" formControlName="placeholder" type="text" />
    <label>Label: </label>
    <input formControlName="label" type="text" />
    <label *ngIf="subtype === 'text'">Maxlength: </label>
    <input *ngIf="subtype === 'text'" formControlName="maxlength" type="number" />
    <label *ngIf="subtype === 'number'">Max Value: </label>
    <input *ngIf="subtype === 'number'" formControlName="max" type="number" />
    <label *ngIf="subtype === 'number'">Min Value: </label>
    <input *ngIf="subtype === 'number'" formControlName="min" type="number" />
    <button type="submit">Close</button>
  </form>
  <button (click)="deleteElement()">Delete element</button>
</div>