
.inside-right{
    width: 100%;
    float: center;
    color:rgb(56, 57, 58);
    height: 50px;
    line-height: 50px;
    text-align: center;
  
}
.inside-left{
    width: 30%;
    background-color: #dc1c2e7a;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
  
}

button{
    width: 100%;
    border: 1px solid #979798;
    background-color: #eeeeee;
    -webkit-appearance: none;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    outline: 0;
    padding: 0px 0px 0px 0px;
    margin: 0 0px 0 0;
    position: relative;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
    font-weight: normal !important;
}