<div class="vers">
  <ul>
      <li><a href="#">Verification from Group Coordinator</a></li>
      <li><a href="#">Verification from Group Coordinator</a></li>
      <li><a href="#">Verification from Group Coordinator</a></li>                        
      <li><a href="#">Verification from Requesting Authority</a></li>
      <li><a href="#">Verification from Group Coordinator</a></li>
      <li><a href="#">Verification from Group Coordinator</a></li>
  </ul>
</div>
<div class="actions sub_grid">
  <button class="btn btn1"><i class="fa fa-eye">&nbsp; Preview</i></button>
  <button class="btn btn2"><i class="fa fa-check-square">&nbsp; Authorise</i></button>
  
</div>