/*inside box*/
.overlay {
  height: minmax(10vh, 30vh);
  display: grid;
  height: 100%;
  width: 100%;
  /* grid-template-columns:auto auto auto auto; */
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  grid-template-rows: repeat(2, minmax(10px, 1fr));
  justify-content: center;
  padding: 4%;
  border-radius: 10px;
  // box-shadow: 0px 1px 10px #b3b3b3;
  background-color:rgba(179,179,179,0.39);
    font-family: "fira sans";
  justify-content: center;
}

.lb1{
  background-color: #DC3548;
}
.lb2{
  background-color: #007bff;
}
.lb3{
  background-color:#28a745;
}

.overlay>div {

  border-radius: 0px;
  box-shadow: 0px 1px 2px rgba(71, 71, 71, 0.55);
  text-align:center;
  vertical-align:middle;
  justify-content: center;
}


/*button styling*/

.button_grid {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 5vh;
  justify-items: center;
}

@media (max-width:700px) {
  .button_grid {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 20vh;
    justify-items: center;
  }
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);

}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.btn {
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  font-family: 'fira sans';
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #F7A666;
  border-radius: 10px;
  grid-column: 3;
  border: 2px;
  grid-row: 3;
  width: 70%;
  margin-top: 10%;
}


.form_no {
  grid-column: 1/2;
  grid-row: 1;
  padding-top: 10px;
}

.form2 {
  grid-column: 2/5;
  grid-row: 1;
  padding-top: 10px;
}


.form_num {
  word-wrap: break-word;
  padding: 2px;
}

.title {
  font-family: 'fira sans';
  text-decoration: underline;
  font-weight: bold;
  color: #38393A;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}

.value {
  font-family: 'fira sans';
  color: #38393A;
  text-align: center;
  font-weight: light;
  text-decoration: none;
  font-size: 12px;
}

.form_links {
  font-family: 'fira sans';
  color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.fa_dark {
  color:#eeeeee;
  font-size: 20px;
  padding-top: 12px;
}

@media (max-width:1400px) {
  .fa_dark {
    color: #eeeeee;
    font-size: 10px;
    padding-top: 10px;
  }
  .form_links {
    font-family: 'fira sans';
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
  }
  .title {
    font-family: 'fira sans';
    text-decoration: underline;
    font-weight: bold;
    color: #38393A;
    text-align: center;
    justify-content: center;
    font-size: 12px;
  }
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}