.elementHolder{
    display:grid;
    grid-template-columns: 94% 3% 3%;
    grid-template-rows:10% 88% 5px;
    height:100%;
    grid-row-gap:3px;
    border:0.5px solid rgb(223, 215, 202);
    border-radius:5px;
    font-size: 16px;
}

.label_transition{
    grid-row:1;
    grid-column:1;
    align-items:center;
    margin-left: 1%;
    font-size:20px;
    font-family: 'fira sans';
    font-weight:bold;
}