<div class="main_grid">
  <div class="build_form">
    <table [style.width]="table.width+'%'" [style.height]="table.height+'%'" [style.border-collapse]="'collapse'" border="1">
      <tbody #tableRef>
        <tr *ngFor="let row of table.rows;let r = index" [style.width]="row.height+'%'" (click)="selectedRow=r">
          <td *ngFor="let col of row.cols;let c = index" class="dropZone my_td" (dragenter)="dragEnter($event)" (dragover)="dragOver($event)"
            (click)="selectedCol=c" (dragleave)="dragLeave($event)" (drop)="selectedRow=r;selectedCol=c" [style.width]="col.width+'%'">
            <div *ngFor="let element of col.value;let i=index">
              <div [ngSwitch]="element.type">
                <div *ngSwitchCase="'input'">
                  <app-renderer-input-elements [subtype]="element.subtype" [required]="element.required" [label]="element.label" [value]="element.value"
                    [eclass]="element.class" [placeholder]="element.placeholder" [maxlength]="element.maxlength" [max]="element.max"
                    [min]="element.min" [pos]="i" [valid]="element.valid" [touched]="element.touched" [pristine]="element.pristine">
                  </app-renderer-input-elements>
                </div>
                <div *ngSwitchCase="'header'">
                  <app-renderer-header-elements [subtype]="element.subtype" [label]="element.label" [eclass]="element.class" [pos]="i">
                  </app-renderer-header-elements>
                </div>
                <div *ngSwitchCase="'paragraph'">
                  <app-renderer-paragraph-elements [eclass]="element.class" [content]="element.content" [pos]="i">
                  </app-renderer-paragraph-elements>
                </div>
                <div *ngSwitchCase="'textarea'">
                  <app-renderer-textarea-elements [required]="element.required" [label]="element.label" [value]="element.value" [eclass]="element.class"
                    [placeholder]="element.placeholder" [rows]="element.rows" [cols]="element.rows" [pos]="i" [valid]="element.valid"
                    [touched]="element.touched" [pristine]="element.pristine">
                  </app-renderer-textarea-elements>
                </div>
                <div *ngSwitchCase="'group'">
                  <app-renderer-group-elements [required]="element.required" [value]="element.value" [options]="element.options" [eclass]="element.class"
                    [subtype]="element.subtype" [pos]="i" [valid]="element.valid" [touched]="element.touched" [pristine]="element.pristine">
                  </app-renderer-group-elements>
                </div>
                <div *ngSwitchCase="'select'">
                  <app-renderer-select-elements [required]="element.required" [value]="element.value" [options]="element.options" [eclass]="element.class"
                    [subtype]="element.subtype" [pos]="i" [valid]="element.valid" [touched]="element.touched" [pristine]="element.pristine">
                  </app-renderer-select-elements>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>