<!-- <div class="diag">   <!--Analysed data goes here -->
<!-- <button style="height:20%;border-radius:50%;background-color:aqua;font-size:14px">data</button>
      </div>
      <div class="line "><hr></div>
      <div class="depts sub_grid">
          <div class="dept_1 cen"><span>Dept A</span></div>
          <div class="dept_2 cen"><span>Dept B</span></div>
          <div class="dept_3 cen"><span>Dept C</span></div>
          <div class="dept_4 cen"><span>Dept D</span></div>
      </div> -->
<div class="req_text">Requests</div>
<div class="reqs">
  <ul>
    <li>
      <a href="#">Request from User 1 to Create a form</a>
    </li>
    <li>
      <a href="#">Request from User 2 to Create a form</a>
    </li>
    <li>
      <a href="#">Request from User 3 to Create a form</a>
    </li>
    <li>
      <a href="#">Request from User 4 to Create a form</a>
    </li>
    <li>
      <a href="#">Request from User 5 to Create a form</a>
    </li>
    <li>
      <a href="#">Request from User 6 to Create a form</a>
    </li>
  </ul>
</div>
<div class="preview"></div>
<div class="prev_text">Preview</div>
<div class="actions sub_grid">
  <button class="btn btn1">
    <i class="fa fa-eye">&nbsp; Read</i>
  </button>
  <button class="btn btn2">
    <i class="fa fa-search">&nbsp; Find</i>
  </button>
  <button class="btn btn3">
    <i class="fa fa-code-fork">&nbsp; Merge</i>
  </button>
  <button class="btn btn4">
    <i class="fa fa-plus-square">&nbsp; Create</i>
  </button>
</div>
<div class="diag"></div>