<div class="elementHolder">
  <div *ngIf="subtype !== 'file'" class="on_transition_label">
    <label [innerHTML]="label"></label>  
  </div>
  <div *ngIf="subtype !== 'file'">
    <input [formControl]="valueField" [required]="required" [type]="subtype" 
      [placeholder]="placeholder" />
  </div>
  <div *ngIf="subtype === 'file'" class="on_transition_label">
    <ng4-files-click (filesSelect)="filesSelect($event)">
      <span>Click me to upload</span>
    </ng4-files-click>
    <button (click)="download(value)">Download</button>
  </div>
</div>