<div [draggable]="draggableFlag" class="elementHolder">
  <div class="icon1"><i class="fa fa-edit"></i></div>
  <div class="icon2"><i class="fa fa-trash"></i></div>
  <div class="label">Header</div>



  <!-- <h1 *ngIf="subtype === 'h1'" [innerHTML]="label" [class]="eclass"></h1>
  <h2 *ngIf="subtype === 'h2'" [innerHTML]="label" [class]="eclass"></h2>
  <h3 *ngIf="subtype === 'h3'" [innerHTML]="label" [class]="eclass"></h3>
  <form [formGroup]="myForm" class="hiddenfields" (ngSubmit)="updateValues(myForm)">
    <label>Label: </label><input formControlName="label" type="text" />
    <select formControlName="subtype">
      <option value="h1">h1</option>
      <option value="h2">h2</option>
      <option value="h3">h3</option>
    </select>
    <button type="submit">Close</button>
  </form>
  <button (click)="deleteElement()">Delete Element</button> -->
</div>