<div [draggable]="draggableFlag" class="elementHolder">
  <div class="icon1" (click)="hiddenForm=!hiddenForm"><mat-icon>edit</mat-icon></div>
  <div class="icon2" (click)="deleteElement()"><mat-icon>delete</mat-icon></div>
  <h1 *ngIf="subtype === 'h1'" [innerHTML]="label" class="on_transition_label"></h1>
  <h2 *ngIf="subtype === 'h2'" [innerHTML]="label" class="on_transition_label"></h2>
  <h3 *ngIf="subtype === 'h3'" [innerHTML]="label" class="on_transition_label"></h3>
  <form [style.display]="hiddenForm?'grid':'none'" class="input_box inner_grid" [formGroup]="myForm" (ngSubmit)="updateValues(myForm)">
    <div class="label1">
      <label>Label&nbsp;:&nbsp;</label>
      <input formControlName="label" type="text" />
    </div>
    <div class="select_size">
      <label>Type&nbsp;:&nbsp;</label>
      <select formControlName="subtype">
        <option value="h1">h1</option>
        <option value="h2">h2</option>
        <option value="h3">h3</option>
      </select>
    </div>
    <div class="close"><button type="submit" mat-raised-button color="accent">CLOSE</button></div>
  </form>
</div>
