.wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left:1em;
    margin-right:1em;
    margin: 1em;
}

.dropZone{
    border: 1em solid lightskyblue;
    min-height: 90vh;
    margin: 1em;
    padding-bottom: 4em; 
    padding-top: 4em;
    /* align-items: center; */
}

.side {
    border: 1em solid lightskyblue;
    min-height: 90vh;
    margin: 1em;
    /* align-items: center; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.btn {
    display: block;
    width: 10vw;
    height: 10vw;
    align-self: center;
    justify-self: center;
}

[draggable=true] {
    -khtml-user-drag: element;
}