<div class="wrapper">
  <div>
    <table [style.width]="table.width+'%'" [style.height]="table.height+'%'" 
      [style.border-collapse]="'collapse'" 
      border="1">
      <tbody>
        <tr *ngFor="let row of table.rows" [style.height]="row.height+'%'">
          <td *ngFor="let cell of row.cols" class="dropZone" #dropZone
            (dragenter)="dragEnter($event)" (dragover)="dragOver($event)"
            (dragleave)="dragLeave($event)" (distinctDrop)="dropped($event)" 
            [style.height]="cell.height+'%'" [style.width]="cell.width+'%'" 
            >
            <div *ngFor="let element of cell.value;let i=index" #refElements>
              <div [ngSwitch]="element.type">
                <div *ngSwitchCase="'input'">
                  <app-builder-input-elements #ref 
                    #elements ngsfDrag
                    (directionOfMovement)="movementOfTarget($event)"
                    (dragstart)="dragStart($event)"
                    (dragend)="dragEnd($event)"
                    (dragenter)="dragEnter($event)"
                    (dragover)="dragOver($event)"
                    (dragleave)="dragLeave($event)"
                    (distinctDrop)="dropped($event)"
                    [draggableFlag]="elConfigs[i].draggable"
                    [subtype]="element.subtype" [required]="element.required" [label]="element.label" [value]="element.value"
                    [eclass]="element.class" [placeholder]="element.placeholder" [maxlength]="element.maxlength" [max]="element.max" [min]="element.min"
                    [pos]="i" (delete)=deleteElement($event) (update)=updateElement($event)>
                  </app-builder-input-elements>
                </div>
                <div *ngSwitchCase="'header'">
                  <app-builder-header-elements #ref 
                    #elements ngsfDrag
                    (directionOfMovement)="movementOfTarget($event)"
                    (dragstart)="dragStart($event)"
                    (dragend)="dragEnd($event)"
                    (dragenter)="dragEnter($event)"
                    (dragover)="dragOver($event)"
                    (dragleave)="dragLeave($event)"
                    (distinctDrop)="dropped($event)"
                    [draggableFlag]="elConfigs[i].draggable"
                    [subtype]="element.subtype" [label]="element.label" [eclass]="element.class" [pos]="i" (delete)=deleteElement($event)
                    (update)=updateElement($event)>
                  </app-builder-header-elements>
                </div>
                <div *ngSwitchCase="'paragraph'">
                  <app-builder-paragraph-elements #ref 
                    #elements ngsfDrag
                    (directionOfMovement)="movementOfTarget($event)"
                    (dragstart)="dragStart($event)"
                    (dragend)="dragEnd($event)"
                    (dragenter)="dragEnter($event)"
                    (dragover)="dragOver($event)"
                    (dragleave)="dragLeave($event)"
                    (distinctDrop)="dropped($event)"
                    [draggableFlag]="elConfigs[i].draggable"
                    [eclass]="element.class" [content]="element.content" [pos]="i" (delete)=deleteElement($event)
                    (update)=updateElement($event)>
                  </app-builder-paragraph-elements>
                </div>
                <div *ngSwitchCase="'textarea'">
                  <app-builder-textarea-elements #ref 
                    #elements ngsfDrag
                    (directionOfMovement)="movementOfTarget($event)"
                    (dragstart)="dragStart($event)"
                    (dragend)="dragEnd($event)"
                    (dragenter)="dragEnter($event)"
                    (dragover)="dragOver($event)"
                    (dragleave)="dragLeave($event)"
                    (distinctDrop)="dropped($event)"
                    [draggableFlag]="elConfigs[i].draggable"
                    [required]="element.required" [label]="element.label" [value]="element.value" [eclass]="element.class"
                    [placeholder]="element.placeholder" [rows]="element.rows" [cols]="element.rows" [pos]="i" (delete)=deleteElement($event)
                    (update)=updateElement($event)>
                  </app-builder-textarea-elements>
                </div>
                <div *ngSwitchCase="'group'">
                  <app-builder-group-elements #ref
                    #elements ngsfDrag
                    (directionOfMovement)="movementOfTarget($event)"
                    (dragstart)="dragStart($event)"
                    (dragend)="dragEnd($event)"
                    (dragenter)="dragEnter($event)"
                    (dragover)="dragOver($event)"
                    (dragleave)="dragLeave($event)"
                    (distinctDrop)="dropped($event)"
                    [draggableFlag]="elConfigs[i].draggable" 
                    [required]="element.required" [value]="element.value" [options]="element.options" [eclass]="element.class"
                    [subtype]="element.subtype" [pos]="i" (delete)=deleteElement($event) (update)=updateElement($event)>
                  </app-builder-group-elements>
                </div>
                <div *ngSwitchCase="'select'">
                  <app-builder-select-elements #ref
                    #elements ngsfDrag
                    (directionOfMovement)="movementOfTarget($event)"
                    (dragstart)="dragStart($event)"
                    (dragend)="dragEnd($event)"
                    (dragenter)="dragEnter($event)"
                    (dragover)="dragOver($event)"
                    (dragleave)="dragLeave($event)"
                    (drop)="dropped($event)"
                    [draggableFlag]="elConfigs[i].draggable" 
                    [required]="element.required" [value]="element.value" [options]="element.options" [eclass]="element.class"
                    [subtype]="element.subtype" [pos]="i" (delete)=deleteElement($event) (update)=updateElement($event)>
                  </app-builder-select-elements>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="dropZone" #dropZone
    (dragenter)="dragEnter($event)"                 
    (dragover)="dragOver($event)"
    (dragleave)="dragLeave($event)"                 
    (distinctDrop)="dropped($event)">
    <div *ngFor="let element of elements;let i=index" #refElements>
      <div [ngSwitch]="element.type">
        <div *ngSwitchCase="'input'">
          <ngsf-builder-input-elements #ref 
            #elements ngsfDrag
            (directionOfMovement)="movementOfTarget($event)"
            (dragstart)="dragStart($event)"
            (dragend)="dragEnd($event)"
            (dragenter)="dragEnter($event)"
            (dragover)="dragOver($event)"
            (dragleave)="dragLeave($event)"
            (distinctDrop)="dropped($event)"
            [draggableFlag]="elConfigs[i].draggable"
            [subtype]="element.subtype" [required]="element.required" [label]="element.label" [value]="element.value"
            [eclass]="element.class" [placeholder]="element.placeholder" [maxlength]="element.maxlength" [max]="element.max" [min]="element.min"
            [pos]="i" (delete)=deleteElement($event) (update)=updateElement($event)>
          </ngsf-builder-input-elements>
        </div>
        <div *ngSwitchCase="'header'">
          <ngsf-builder-header-elements #ref 
            #elements ngsfDrag
            (directionOfMovement)="movementOfTarget($event)"
            (dragstart)="dragStart($event)"
            (dragend)="dragEnd($event)"
            (dragenter)="dragEnter($event)"
            (dragover)="dragOver($event)"
            (dragleave)="dragLeave($event)"
            (distinctDrop)="dropped($event)"
            [draggableFlag]="elConfigs[i].draggable"
            [subtype]="element.subtype" [label]="element.label" [eclass]="element.class" [pos]="i" (delete)=deleteElement($event)
            (update)=updateElement($event)>
          </ngsf-builder-header-elements>
        </div>
        <div *ngSwitchCase="'paragraph'">
          <ngsf-builder-paragraph-elements #ref 
            #elements ngsfDrag
            (directionOfMovement)="movementOfTarget($event)"
            (dragstart)="dragStart($event)"
            (dragend)="dragEnd($event)"
            (dragenter)="dragEnter($event)"
            (dragover)="dragOver($event)"
            (dragleave)="dragLeave($event)"
            (distinctDrop)="dropped($event)"
            [draggableFlag]="elConfigs[i].draggable"
            [eclass]="element.class" [content]="element.content" [pos]="i" (delete)=deleteElement($event)
            (update)=updateElement($event)>
          </ngsf-builder-paragraph-elements>
        </div>
        <div *ngSwitchCase="'textarea'">
          <ngsf-builder-textarea-elements #ref 
            #elements ngsfDrag
            (directionOfMovement)="movementOfTarget($event)"
            (dragstart)="dragStart($event)"
            (dragend)="dragEnd($event)"
            (dragenter)="dragEnter($event)"
            (dragover)="dragOver($event)"
            (dragleave)="dragLeave($event)"
            (distinctDrop)="dropped($event)"
            [draggableFlag]="elConfigs[i].draggable"
            [required]="element.required" [label]="element.label" [value]="element.value" [eclass]="element.class"
            [placeholder]="element.placeholder" [rows]="element.rows" [cols]="element.rows" [pos]="i" (delete)=deleteElement($event)
            (update)=updateElement($event)>
          </ngsf-builder-textarea-elements>
        </div>
        <div *ngSwitchCase="'group'">
          <ngsf-builder-group-elements #ref
            #elements ngsfDrag
            (directionOfMovement)="movementOfTarget($event)"
            (dragstart)="dragStart($event)"
            (dragend)="dragEnd($event)"
            (dragenter)="dragEnter($event)"
            (dragover)="dragOver($event)"
            (dragleave)="dragLeave($event)"
            (distinctDrop)="dropped($event)"
            [draggableFlag]="elConfigs[i].draggable" 
            [required]="element.required" [value]="element.value" [options]="element.options" [eclass]="element.class"
            [subtype]="element.subtype" [pos]="i" (delete)=deleteElement($event) (update)=updateElement($event)>
          </ngsf-builder-group-elements>
        </div>
        <div *ngSwitchCase="'select'">
          <ngsf-builder-select-elements #ref
            #elements ngsfDrag
            (directionOfMovement)="movementOfTarget($event)"
            (dragstart)="dragStart($event)"
            (dragend)="dragEnd($event)"
            (dragenter)="dragEnter($event)"
            (dragover)="dragOver($event)"
            (dragleave)="dragLeave($event)"
            (drop)="dropped($event)"
            [draggableFlag]="elConfigs[i].draggable" 
            [required]="element.required" [value]="element.value" [options]="element.options" [eclass]="element.class"
            [subtype]="element.subtype" [pos]="i" (delete)=deleteElement($event) (update)=updateElement($event)>
          </ngsf-builder-select-elements>
        </div>
      </div>
    </div>
  </div> -->
  <div class="side">
    <button #tools ngsfDrag
      *ngFor="let button of toolButtons; let i=index"
      [draggable]="toolConfigs[i].draggable"
      [type]="tool"
      class="tool"
      (directionOfMovement)="movementOfTarget($event)"
      (inputFunctionType) = "inputFunctionType = $event"
      (dragstart)="dragStart($event)"
      (dragend)="dragEnd($event)"
      [id]="button.id" [innerHTML]="button.message">
    </button>
  </div>
</div>