
.inside-right{
    width: 100%;
    float: center;
    color:rgb(56, 57, 58);
    height: 50px;
    line-height: 50px;
    text-align: center;
  
}
.color1{
    background-color: #0d8aee;

}

.color1{
    background-color: #0d8aee;

}

.color1{
    background-color: #0d8aee;

}

.inside-left{
    width: 30%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

button{
    width: 100%;
    border: 1px solid #979798;
    background-color: #eeeeee;
    -webkit-appearance: none;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.2;
    outline: 0;
    padding-left: 0px;
    position: relative;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
    font-weight: normal !important;
}